# Retail RFM Articles Analysis

L'analyse RFM est une technique de segmentation de la clientèle puissante qui peut aider les entreprises à mieux comprendre et cibler leurs clients en fonction de leur comportement d'achat. RFM signifie "Recency, Fréquency et Monetary", qui sont trois indicateurs clés utilisés pour évaluer le comportement des clients.

Recency fait référence à la dernière fois qu'un client a effectué un achat, la Fréquence (Frequency) mesure la fréquence à laquelle un client effectue des achats, et le Montant (Monetary) mesure la somme dépensée par un client pour ses achats.

En analysant ces trois indicateurs, les entreprises peuvent identifier différents segments de clientèle, tels que les clients fidèles, les acheteurs fréquents, les clients à haute valeur ajoutée et ceux qui pourraient churn. Avec ces informations, les entreprises peuvent élaborer des campagnes de marketing ciblées, adapter leurs offres à différents segments de clientèle et optimiser leurs stratégies d'engagement client pour accroître la satisfaction de la clientèle et stimuler la croissance des revenus.


----

Dans l'analyse précente nous avons analysé et libellé les différents segments clients. Cette fois-ci nous allons nous concentrer sur les articles qu'achetent les différents segments et voir si un certain type de segment achète un certain type d'article.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime

In [3]:
retail_df = pd.read_csv("/Users/stratospheric/Documents/Retail Analysis/Online_Retail_No_Outliers.csv")
df = retail_df.copy()

In [4]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [5]:
df['StockCode'].nunique()

3392

In [6]:
df['StockCode'].value_counts()

85123A    1686
85099B    1329
47566     1274
20725     1207
84879     1159
          ...
90129E       1
84743C       1
22825        1
22501        1
90059D       1
Name: StockCode, Length: 3392, dtype: int64

Nous allons à présent réduire la taille de ce dataset en créeant une liste d'articles unique et observer quels articles sont les plus vendus.

In [7]:
articles = df.groupby('StockCode').agg({'StockCode':'size','Description': 'first', 'UnitPrice': 'mean'})
articles = articles.rename(columns={'StockCode':'Sold'})

In [8]:
articles['UnitPrice'] = round(articles['UnitPrice'],2)

In [9]:
articles = articles.sort_values(by='Sold', ascending=False).reset_index()
articles_top = articles.head()

In [10]:
articles_top

  StockCode  Sold                         Description  UnitPrice
0    85123A  1686  WHITE HANGING HEART T-LIGHT HOLDER       2.96
1    85099B  1329             JUMBO BAG RED RETROSPOT       2.06
2     47566  1274                       PARTY BUNTING       4.93
3     20725  1207             LUNCH BAG RED RETROSPOT       1.67
4     84879  1159       ASSORTED COLOUR BIRD ORNAMENT       1.69

Voici la liste des 5 articles les plus vendus dans la boutique.

In [11]:
articles_top.describe()

              Sold  UnitPrice
count     5.000000   5.000000
mean   1331.000000   2.662000
std     208.709128   1.371485
min    1159.000000   1.670000
25%    1207.000000   1.690000
50%    1274.000000   2.060000
75%    1329.000000   2.960000
max    1686.000000   4.930000

Ce qui serait intéressant maintenant de réaliser est regarder les articles les plus vendus par type de client. Afin que l'équipe marketing puisse adapter ses campagnes.

In [12]:
customers = pd.read_csv("/Users/stratospheric/Documents/Retail Analysis/Customers Retail RFM.csv")

In [22]:
customers.head()

,CustomerID,Frequency,LastOrder,TotalSpent,FirstOrder,Recency,FirstTime,AveragePerOrder,Recency_Score,Frequency_Score,Monetary_Score,Label
0,12347.0,7,2011-12-07,3314.73,2010-12-07,45,0,473.53,3,3,3,Baleine
1,12348.0,3,2011-04-05,90.20,2010-12-16,291,0,30.07,1,2,1,Ptit Fidele Fuyant
2,12349.0,1,2011-11-21,999.15,2011-11-21,61,1,999.15,2,1,3,Testeur Glouton
3,12350.0,1,2011-02-02,294.40,2011-02-02,353,1,294.40,1,1,2,Testeur Pas Convaincu
4,12352.0,7,2011-11-03,1130.94,2011-02-16,79,0,161.56,2,3,2,Fidele

In [14]:
to_merge = customers[['CustomerID','Label']]
merged_df = pd.merge(df,to_merge, on='CustomerID', how='inner')
#merged_df = merged_df.iloc[:,1:]

In [15]:
merged_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Label
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,Fidele Fuyant
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Fidele Fuyant
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,Fidele Fuyant
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Fidele Fuyant
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,Fidele Fuyant

In [16]:
merged_df.to_csv("Online Retail RFM Full.csv",index=False)

In [17]:
# Group the DataFrame by RFM label and article, and calculate the total number of orders
grouped = merged_df.groupby(['Label', 'Description','StockCode']).size().reset_index(name='total_orders')

# Sort the DataFrame by the total number of orders in descending order
sorted_df = grouped.sort_values(['Label', 'total_orders'], ascending=[True, False])

In [23]:
sorted_df.head()

        Label                         Description StockCode  total_orders
1554  Baleine             LUNCH BAG RED RETROSPOT     20725           426
1409  Baleine             JUMBO BAG RED RETROSPOT    85099B           423
2978  Baleine  WHITE HANGING HEART T-LIGHT HOLDER    85123A           320
1888  Baleine                       PARTY BUNTING     47566           308
1549  Baleine                 LUNCH BAG CARS BLUE     20728           304

Nous avons reussi à lister les articles les plus vendus par type de client. Cependant la liste étant très longue, il sera plus simple de la visualiser dans un dashboard.

Pour finir, notre analyse produit, regardons s'il existe une quelconque relation entre les articles.

Pour rappel, une correlation ne signifie pas causalité. Autrement dit, ce n'est pas parce que un article à une forte correlation avec un autre que le client achetera les deux articles.

In [19]:
pivoted = df.pivot_table(index='CustomerID', columns='StockCode', values='Quantity', fill_value=0)

In [20]:
correlations = pivoted.corr()

In [21]:
correlations

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214T,90214U,90214V,90214W,90214Y,90214Z,BANK CHARGES,M,PADS,POST
StockCode,,,,,,,,,,,,,,,,,,,,,
10002,1.000000,-0.004053,0.007587,0.002775,-0.002374,-0.002248,-0.000115,0.016046,0.010959,0.066251,...,-0.001130,-0.001130,-0.001219,-0.001130,-0.001219,-0.001130,-0.001130,0.023989,-0.001957,-0.001009
10080,-0.004053,1.000000,-0.003112,-0.001291,-0.001800,-0.001705,0.035077,0.021936,0.042332,-0.004945,...,-0.000856,-0.000856,-0.000925,-0.000856,-0.000925,-0.000856,-0.000856,-0.005874,-0.001484,-0.002484
10120,0.007587,-0.003112,1.000000,0.007825,-0.001823,-0.001726,0.000505,0.006886,0.001978,0.029517,...,-0.000867,-0.000867,-0.000936,-0.000867,-0.000936,-0.000867,-0.000867,0.005929,-0.001502,0.011353
10123C,0.002775,-0.001291,0.007825,1.000000,-0.000756,-0.000716,0.019368,-0.003012,-0.002708,-0.002078,...,-0.000360,-0.000360,-0.000389,-0.000360,-0.000389,-0.000360,-0.000360,-0.002744,-0.000623,-0.001044
10124A,-0.002374,-0.001800,-0.001823,-0.000756,1.000000,0.491277,0.002592,0.032544,-0.003774,-0.002896,...,-0.000502,-0.000502,-0.000542,-0.000502,-0.000542,-0.000502,-0.000502,-0.003825,-0.000869,-0.001455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90214Z,-0.001130,-0.000856,-0.000867,-0.000360,-0.000502,-0.000475,-0.001291,-0.001997,-0.001796,-0.001378,...,1.000000,1.000000,0.996546,1.000000,0.996546,1.000000,-0.000239,-0.001820,-0.000413,-0.000692
BANK CHARGES,-0.001130,-0.000856,-0.000867,-0.000360,-0.000502,-0.000475,-0.001291,-0.001997,-0.001796,-0.001378,...,-0.000239,-0.000239,-0.000258,-0.000239,-0.000258,-0.000239,1.000000,-0.001820,-0.000413,-0.000692
M,0.023989,-0.005874,0.005929,-0.002744,-0.003825,-0.003622,0.013893,-0.001161,-0.008255,0.040543,...,-0.001820,-0.001820,-0.001965,-0.001820,-0.001965,-0.001820,-0.001820,1.000000,-0.003153,0.005599
PADS,-0.001957,-0.001484,-0.001502,-0.000623,-0.000869,-0.000823,-0.002237,-0.003460,-0.003111,-0.002387,...,-0.000413,-0.000413,-0.000446,-0.000413,-0.000446,-0.000413,-0.000413,-0.003153,1.000000,-0.001199
POST,-0.001009,-0.002484,0.011353,-0.001044,-0.001455,-0.001378,-0.003745,0.000185,-0.005208,0.023711,...,-0.000692,-0.000692,-0.000747,-0.000692,-0.000747,-0.000692,-0.000692,0.005599,-0.001199,1.000000